<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}Welcome!{% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/cosmo/bootstrap.min.css">
		<link href="{{ asset('css/admin.css') }}" rel="stylesheet"/>
		<link href="{{ asset('css/animations.css') }}" rel="stylesheet"/>
		<link href="{{ asset('css/hover.css') }}" rel="stylesheet"/>
		<link href="{{ asset('css/tab.css') }}" rel="stylesheet"/>
		<link href="{{ asset('css/menu.css') }}" rel="stylesheet"/>
		<link href="{{ asset('css/style.css') }}" rel="stylesheet"/>
		{% block stylesheets %}{% endblock %}
	</head>
	<body class="{{app.request.get('_route')}}">
		{% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
		{{ render(controller('App\\Controller\\MenuController::menu', {currentPath: currentPath})) }}
		{% if app.request.get('_route') == 'home_page' %}
		{#{ include('inc/slide.html.twig') }#}
		{{ render(controller('App\\Controller\\SlideController::slide')) }}
		{% endif %}
		
		{% block body %}{% endblock %}
		
		{{ render(controller('App\\Controller\\MenuFooterController::menuFooter')) }}
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
		<script src="{{ asset('js/script.js') }}" type="text/javascript"></script>
		{% block javascripts %}{% endblock %}
	</body>
</html>
